.sections-news_and_gallery
	background: #f6f3f0
	width: 940px
	min-height: 419px
	margin: auto
	margin-top: 70px
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
.main-container__news
	max-width: 390px
	margin-left: 80px
	margin-top: 50px
	padding-right: 36px
	border-right: 3px outset
	&__title
		margin-top: 0px
		margin-bottom: 33px
		font-size: 30px
		font-weight: 700
		line-height: 42px
	&__list
		list-style: none
		padding-left: 0px
		li
			font-size: 14px
			font-weight: 700
			line-height: 24px
			p
				margin-top: 0px
				margin-bottom: 0px
			time
				display: inline-block
				margin-bottom: 29px
	a
		display: inline-block
		margin-bottom: 50px
		text-decoration: none
		padding-left: 34px
		padding-right: 34px
.main-container__gallery
	&__title
	&__content
