body {
  font-family: "PT Sans", sans-serif;
  margin: 0px; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  background-color: #000000;
  cursor: pointer;
  width: 145px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #faf7f4;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px; }

.main-header {
  width: 100%;
  background: black; }
  .main-header__navigation {
    width: 940px;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; }
    .main-header__navigation__list {
      list-style: none;
      -webkit-padding-start: 0px;
      padding-inline-start: 0px;
      -webkit-margin-after: 0px;
      margin-block-end: 0px;
      -webkit-margin-before: 0px;
      margin-block-start: 0px; }
      .main-header__navigation__list li {
        display: inline-block;
        padding: 30px 20px 20px 20px;
        border-bottom: solid 10px black; }
        .main-header__navigation__list li:hover {
          background: #242424;
          border-bottom: solid 10px #242424; }
        .main-header__navigation__list li:active {
          border-bottom: solid 10px white; }
        .main-header__navigation__list li a {
          text-decoration: none;
          color: white; }
    .main-header__navigation__login {
      list-style: none;
      -webkit-padding-start: 0px;
      padding-inline-start: 0px;
      -webkit-margin-after: 0px;
      margin-block-end: 0px;
      -webkit-margin-before: 0px;
      margin-block-start: 0px; }
      .main-header__navigation__login li {
        display: inline-block;
        padding: 30px 20px 20px 20px;
        border-bottom: solid 10px black; }
        .main-header__navigation__login li:hover {
          background: #242424;
          border-bottom: solid 10px #242424; }
        .main-header__navigation__login li:active {
          border-bottom: solid 10px white; }
        .main-header__navigation__login li a {
          text-decoration: none;
          color: white; }

.main-container {
  background: url(../img/background.jpg) center repeat;
  width: 100%; }

.main-container__features {
  width: 940px;
  margin: auto;
  margin-top: 0px;
  padding-top: 60px;
  color: white;
  text-align: center;
  font-family: "PT Sans", sans-serif; }
  .main-container__features__list {
    padding: 0px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main-container__features__list__item {
      width: 250px; }
      .main-container__features__list__item h3 {
        font-size: 30px;
        font-weight: 400;
        line-height: 42px;
        margin-top: 60px;
        margin-bottom: 0px; }
      .main-container__features__list__item span {
        font-size: 30px; }
      .main-container__features__list__item p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }

.section-news_and_gallery {
  background: #f6f3f0;
  width: 940px;
  min-height: 419px;
  margin: auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-container__news {
  max-width: 390px;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 36px;
  border-right: 3px outset; }
  .main-container__news__title {
    margin-top: 0px;
    margin-bottom: 33px;
    font-size: 25px;
    font-weight: 700;
    line-height: 42px; }
  .main-container__news__list {
    list-style: none;
    padding-left: 0px; }
    .main-container__news__list li {
      font-size: 14px;
      font-weight: 700;
      line-height: 24px; }
      .main-container__news__list li p {
        margin-top: 0px;
        margin-bottom: 0px; }
      .main-container__news__list li time {
        display: inline-block;
        margin-bottom: 29px; }
  .main-container__news a {
    display: inline-block;
    text-decoration: none;
    padding-left: 34px;
    padding-right: 34px; }

.main-container__gallery {
  width: 390px;
  margin: 50px 0px 50px 90px; }
  .main-container__gallery__title {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 700;
    line-height: 42px; }
  .main-container__gallery__content {
    margin: 0px; }
  .main-container__gallery div {
    margin-bottom: 55px;
    width: 300px;
    max-height: 200px; }
  .main-container__gallery__button {
    cursor: pointer;
    font-family: "PT Sans", sans-serif;
    border: 0px; }
  .main-container__gallery .prev {
    margin-right: 4px; }
  .main-container__gallery .next {
    margin-left: 4px; }

.section-contacts_and_appointment {
  background: #f6f3f0;
  width: 940px;
  min-height: 435px;
  margin: auto;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.main-container__contacts {
  width: 390px;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-right: 3px outset; }
  .main-container__contacts__title {
    margin: 0px;
    font-size: 25px;
    font-weight: 700;
    line-height: 42px; }
  .main-container__contacts p {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; }
  .main-container__contacts a {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    text-align: center; }

.main-container__appointment {
  width: 330px;
  margin: 50px 0px 50px 90px; }
